<div class="container">
  <h1>Cows
    <a [routerLink]="['/cow-create']" class="btn btn-default">
      <span class="oi oi-plus" title="Plus" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/milkings']" class="btn btn-sm btn-primary">Milkings</a>
  </h1>
  
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Birthdate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cow of cows">
        <td>{{ cow.id }}</td>
        <td>{{ cow.name }}</td>
        <td>{{ cow.gender }}</td>
        <td>{{ cow.birthdate | formatDate: 'DD-MM-YYYY' }}</td>
        <td><a [routerLink]="['/cow-details', cow.id]">Show details</a></td>
      </tr>
    </tbody>
  </table>
</div>